<template name="home">
    
    <div class="container">
        
        <div class="section from-subscriptions">
            <div class="header">From Subscriptions</div>
            {{> homeSubscriptions}}
        </div>
        
        <div class="section featured">
            <div class="header">Featured</div>
            {{> homeFeatured}}
        </div>

        <div class="section recent">
            <div class="header">Most Recent</div>
            {{> homeRecent}}
        </div>

    </div>

</template>