.post-actions {
	height:40px;
	ul {
		list-style:none;
		li {
			float:left;
		}
	}
}

.editor {
	
	padding:30px 0px;
	background-color:#fff;
	
	.dropzone {
		display:block;
		padding:60px 0px;
		background-color: #F0F0F0;
		border:2px solid #E6E6E6;
		margin-bottom:25px;
		span {
			display:block;
			text-align:center;
			font-size:30px;
			color:#D1D1D1;
		}
	}

	.title {
		display:block;
		width:100%;
		padding:10px 20px;
		font-size:30px;
		color:darken(#fff, 50%);
		border:0;
		outline:none;
	}

	.content {
		display:block;
		width:100%;
		padding:10px 20px;
		outline:none;
	}

}