.main-header {
  background-color:#333;
  min-height:60px;

  .logo {
    height:50px;
    width:50px;
    float:left;
    padding:7px 0px;
    img {
      height:45px;
      width:auto;
    }
  }

  .menu {
    float:left;
    padding:10px 0px;
    ul {
      padding:0px 0px;
      list-style:none;
      li {
        float:left;
        padding:10px 0px;
        a {
          color:#fff;
          padding:10px 10px;
        }
      }
    }
  }

  .account-info {
    float:right;
  }

  .account-signup {
    float:right;
  }
}