<template name="editPost">
    
    <form id="editPostForm" enctype="multipart/form-data">
        <input type="text" name="title" id="title" value="{{title}}">
        <input type="text" name="content" id="content" value="{{content}}">
        <input type="file" name="files" id="files">
        <input type="submit">
    </form>

    <button id="deletePost">Delete</button>
    <button id="publish">Publish</button>

</template>

<template name="test">
    <img src="{{image.url store='thumbnail'}}" alt="">
</template>