<template name="editPost">
    
    <div class="post-editor">
        
        <div class="title">
            <input id="title" type="text" name="title" value="{{title}}">
        </div>

        <div id="content-editor" class="content-editor" contenteditable>
        </div>

    </div>

    <!-- <input type="file" name="image" id="image"> -->

    <a href="#" class="delete">Delete</a>

    {{#if isPublished}}
    <a href="#" class="unpublish">Unpublish</a>
    {{else}}
    <a href="#" class="publish">Publish</a>
    {{/if}}

</template>