<template name="myPosts">
    <div class="header">My Posts</div>
    <table class="table table-hover my-posts">
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Views</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
                <td><a href="{{pathFor 'viewPost'}}">{{title}}</a></td>
                <td>{{status}}</td>
                <td></td>
                <td>
                    <a href="{{pathFor 'editPost'}}">Edit</a>
                    <a href="{{pathFor 'viewPost'}}" id="view">View</a>
                    <a href="#" class="delete">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</template>